################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Reactive.v1/bin
/Reactive.v1/obj/Debug/build.force
/Reactive.v1/js/views/inventory/articles_amazon_explorer.js
/Reactive.v1/js/views/inventory/articles_amazon_explorer.js.map
/Reactive.v1/js/config
/Reactive.v1/js/ctrls
/Reactive.v1/js/lib
/Reactive.v1/js/views/company
/Reactive.v1/js/views
/Reactive.v1/obj/Debug
